.container {
  width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #dadde1;
  border-radius: 20px;
  max-width: 600px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
h1 {
  padding: 20px;
  font-family: "Merriweather", serif;
  position: relative;
  padding: 0;
  top: 20px;
  font-weight: bold;
}
#date {
  position: relative;
  font-size: 15px;
  font-family: "Merriweather", serif;
  padding: 5px;
  margin: 5px;
}
.current-temperature {
  font-size: 15mm;
  position: relative;
  top: 50px;
  left: 20px;
}
#celcius-link,
#fahrenheit-link {
  position: relative;
  top: 30px;
  left: 20px;
}
#weather-emoji {
  position: relative;
  width: 80px;
  top: 20px;
  left: 20px;
}
#weatherspecyfic {
  position: relative;
  padding: 5px;
  margin: 5px;
}
.prediction {
  margin: 50px;
  font-family: "Merriweather", serif;
}
#day-forecast {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.searchengin {
  margin: 20px;
  padding: 20px;
}
#description {
  font-weight: bold;
  font-family: "Merriweather", serif;
}
#description:first-letter {
  text-transform: capitalize;
}
